<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goldfist.nollygold"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nolly_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <service
            android:name="com.goldfist.nollygold.DownloadService"
            android:process=":nollyGoldServiceProcess"
            android:enabled="true" >
        </service>

        <activity
            android:name="com.goldfist.nollygold.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.goldfist.nollygold.DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="com.goldfist.nollygold.VideoStreamActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_you_tube_stream"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="com.goldfist.nollygold.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_video_player"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="com.goldfist.nollygold.SearchActivity"
            android:label="@string/title_activity_search"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
    </application>

</manifest>
